body {
	background-image: linear-gradient(#6A181E, #6A181D);
}

#boxdn {
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	border-radius: 10px;
	top: 150px;
}

h2 {
	text-align: center;
	color: #fff;
}

body {
	margin-top: 50px;
}

.glyphicon {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
}

.panel-body table tr td {
	padding-left: 15px
}

.panel-body .table {
	margin-bottom: 0px;
}

.nav-search {
	position: absolute;
	top: 6px;
	right: 22px;
	line-height: 24px;
}
.button{
	width: 189px;
}
/*




*/
